---
import '@fontsource/nunito'
import '@fontsource/roboto'
import i18next from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'
import BaseHead from '../components/BaseHead.astro'
import { Footer } from '../components/footer'
import { Header } from '../components/header'
import { ToggleThemeBtn } from '../components/toggle-theme-btn'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  isPost = false,
} = Astro.props
---

<html lang={i18next.language}>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      isPost={isPost}
    />
  </head>

  <body>
    <div
      class="w-full flex items-center justify-center flex-col dark:bg-gray-800"
    >
      <Header>
        <LanguageSelector
          showFlag
          class="text-gray-500 dark:text-gray-300 dark:bg-gray-800"
        />
        <div class="min-w-[24px] min-h-[24px] ml-4">
          <ToggleThemeBtn client:idle />
        </div>
      </Header>
      <slot />
      <Footer />
    </div>
  </body>
</html>
