---
import '@fontsource/nunito'
import '@fontsource/roboto'
import '../styles/global.css'
import '../styles/tailwind.css'
import BaseHead from '../components/BaseHead.astro'
import { Footer } from '../components/footer'
import { Header } from '../components/header'
import { ToggleThemeBtn } from '../components/toggle-theme-btn'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
import { ViewTransitions } from 'astro:transitions'
import enTranslations from '../../public/locales/en/translation.json'
import ptTranslations from '../../public/locales/pt/translation.json'

const translations = {
  en: {
    ...enTranslations,
    'footer.description': enTranslations.footer.description,
    'footer.year': enTranslations.footer.year,
    'footer.aria.github': enTranslations.footer.aria.github,
    'footer.aria.linkedin': enTranslations.footer.aria.linkedin,
    'footer.aria.twitter': enTranslations.footer.aria.twitter,
    'footer.aria.youtube': enTranslations.footer.aria.youtube,
    'footer.aria.instagram': enTranslations.footer.aria.instagram,
    'theme-button.aria.button': enTranslations['theme-button'].aria.button,
  },
  pt: {
    ...ptTranslations,
    'footer.description': ptTranslations.footer.description,
    'footer.year': ptTranslations.footer.year,
    'footer.aria.github': ptTranslations.footer.aria.github,
    'footer.aria.linkedin': ptTranslations.footer.aria.linkedin,
    'footer.aria.twitter': ptTranslations.footer.aria.twitter,
    'footer.aria.youtube': ptTranslations.footer.aria.youtube,
    'footer.aria.instagram': ptTranslations.footer.aria.instagram,
    'theme-button.aria.button': ptTranslations['theme-button'].aria.button,
  },
}

const t = translations[Astro.currentLocale ?? 'pt']

export interface Props {
  title: string
  description?: string
  image?: string
  isPost?: boolean
  publishedTime?: Date
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  isPost = false,
  publishedTime,
} = Astro.props
---

<html lang={Astro.currentLocale ?? 'pt'}>
  <head>
    <BaseHead
      title={title}
      description={description}
      image={image}
      isPost={isPost}
      publishedTime={publishedTime}
    />
    <ViewTransitions />
    <style is:inline>
      body {
        visibility: hidden;
        opacity: 0;
      }
    </style>
    <style is:global>
      body {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.2s linear, opacity 0.2s linear;
      }
    </style>
  </head>

  <body>
    <div
      class="w-full flex items-center justify-center flex-col bg-gray-100 dark:bg-gray-900"
    >
      <Header name={t.name} currentLocale={Astro.currentLocale ?? 'pt'}>
        <div class="min-w-[24px] min-h-[24px] ml-4">
          <ToggleThemeBtn
            client:idle
            ariaLabel={t['theme-button.aria.button']}
          />
        </div>
      </Header>
      <slot />
      <Footer translations={t} />
    </div>
  </body>
</html>
